{{template "header"}}
<link rel="stylesheet" href="/public/css/signin.css">
</head>
<body>
{{template "navbar"}}
<main role="main" class="container">
  <div class="jumbotron">
    <h1>askBox</h1>
    <p> {{ .name }}さんに質問をしましょう</p>
    <form action="/box/{{ .name }}/new" method="POST">
        <div class="form-group">
            <textarea class="form-control" name="question" id="question"></textarea>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">質問する</button>
    </form>
  </div>
</main>
{{template "footer"}}