{{template "header"}}
 <link rel="stylesheet" href="/public/css/reply.css">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="/">askBox</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only"></span></a>
      </li>
    </ul>
    <ul class="nav navbaer-nav navbar-right">
      <li class="nav-item"> <a class="nav-link" href="/home" style="color:beige">{{ .userName}} </a></li>
      <li class="nav-item"> <a class="nav-link" href="/logout"> logout</a></li>
    </ul>
  </div>
</nav>
<main role="main" class="container">
  <div class="jumbotron">
    <p class="questionText">{{ .question.Text }}</p>
    <form action="/reply/{{ .question.Id }}" method="POST">
      <div class="form-group">
        <textarea class="form-control" name="reply" id="reply"></textarea>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">回答する</button>
    </form>
  </div>
</main>
{{template "footer"}}